<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proiect_CE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proiect_CE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gradient border-bottom box-shadow mb-3">
			<img src="~/images/logo.jpg" class = "bookstorelogo"/> 
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Acasa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Books1" asp-action="Index"><i class="fas fa-book-open"></i>Carti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Genres1" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style="width: 20px; height:20px;"><path d="M 4.8125 9 C 4.335938 9.089844 3.992188 9.511719 4 10 C 4 11.65625 2.65625 13 1 13 C 0.449219 13 0 13.449219 0 14 L 0 36 C 0 36.550781 0.449219 37 1 37 C 2.65625 37 4 38.34375 4 40 C 4 40.550781 4.449219 41 5 41 L 45 41 C 45.550781 41 46 40.550781 46 40 C 46 38.34375 47.34375 37 49 37 C 49.550781 37 50 36.550781 50 36 L 50 14 C 50 13.449219 49.550781 13 49 13 C 47.34375 13 46 11.65625 46 10 C 46 9.449219 45.550781 9 45 9 L 5 9 C 4.96875 9 4.9375 9 4.90625 9 C 4.875 9 4.84375 9 4.8125 9 Z M 5.78125 11 L 44.21875 11 C 44.628906 12.917969 46.082031 14.371094 48 14.78125 L 48 35.21875 C 46.082031 35.628906 44.628906 37.082031 44.21875 39 L 5.78125 39 C 5.371094 37.082031 3.917969 35.628906 2 35.21875 L 2 14.78125 C 3.917969 14.371094 5.371094 12.917969 5.78125 11 Z M 10 20 L 10 22 L 40 22 L 40 20 Z M 10 28 L 10 30 L 40 30 L 40 28 Z"></path></svg>Genuri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authors1" asp-action="Index"><img src="https://img.icons8.com/ios/2x/hand-with-pen.png" alt="Hand With Pen icon" loading="lazy" style="height: 25px; width: 25px;">Autori</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PublishingHouses" asp-action="Index"><i class="fas fa-archive"></i>Edituri</a>
                            </li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="WishLists" asp-action="Index"><i class="fas fa-heart"></i>WishList</a>
                            </li>
                        }
                        @if (User.IsInRole("User") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Carts" asp-action="Index"><i class="fa fa-shopping-cart"></i>Cos cumparaturi</a>
                            </li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="OrderHistory"><i class="fas fa-history"></i>Istoric comenzi</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
